Host/customer_scripts/scripts/SLA
Host/customer_scripts/scripts/buildSCP/*
!Host/customer_scripts/scripts/buildSCP/prod_p3_write_crk
!Host/customer_scripts/scripts/buildSCP/OTP_UART_250ms
Host/customer_scripts/scripts/buildSLA

*.pyc